<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scot.mapper.EmpMapper">

    <select id="selectAll" resultType="Emp">
        SELECT *
        FROM EMP
    </select>

    <select id="selectByEmpno" parameterType="int" resultType="Emp">
        SELECT *
        FROM EMP
        WHERE empno = #{empno}
    </select>

    <insert id="insert" parameterType="emp">

        <selectKey keyProperty="empno" resultType="int" order="BEFORE">
            select EMPNO_SEQ.nextval from dual
        </selectKey>

        INSERT INTO EMP(empno, ename, job, mgr, hiredate, sal, comm, deptno)
        VALUES(#{empno}, #{ename}, #{job}, #{mgr}, sysdate, #{sal}, #{comm}, #{deptno})

    </insert>

    <update id="update" parameterType="Emp">
        UPDATE EMP SET ename = #{ename},
                       job = #{job}
                   WHERE empno = #{empno}
    </update>

    <delete id="delete" parameterType="int">
        DELETE EMP WHERE empno = #{empno}
   </delete>

</mapper>